/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    height: fit-content;
}

form button {
    margin-right: 1rem;
}

mat-form-field {
    display: block !important;
    margin-top: 1rem;
    max-width: 500px;
    width: 100%;
}

.contenedor-botones {
    margin-top: 1rem;
}